@keyframes appear {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.marker>div {
    border-radius: 50%;
    background-color:#0067ff;
    box-sizing: border-box;
    border: 1px solid white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition:transform .3s;
}
.marker>div:local {
    animation: appear .3s cubic-bezier(.2,.91,.76,1.67);
}
.marker>div:hover {
    transform:scale(1.1);
}